/* style.css */
.musicplayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-size: cover;
    height: 100vh;
}

.heading {
    font-size: 42px;
    font-family: "Roboto";
    font-weight: 600;
    color: brown;
}

.controls {
    margin-top: 10px;
}


